<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
 
    <title>Foods Index</title>
  </head>
  <body>
    
    <h1>All Foods</h1>
    <a href="/foods/new">Add Food</a>
    <ul>
      <% allFood.forEach(food => { %>
      <li>
        <h2>
          <a href="/foods/<%= food._id %>">
            <%= food.name %>
          </a>
        </h2>
        <p><strong>Category:</strong> <%= food.category %></p>
        <p><strong>Description:</strong> <%= food.description %></p>
        
        <strong>Image:</strong> <img src="<%=food.image%>">
        

        <hr />
      </li>
      <% }) %>
    </ul>
    </div>
  </body>
</html>
